<div class="panel-body">
<%= form_for(@vacancy) do |f| %>
  <% if @vacancy.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@vacancy.errors.count, "error") %> prohibited this vacancy from being saved:</h2>

      <ul>
      <% @vacancy.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :position %>
    <%= f.text_field :position, autofocus: true, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :location %>
    <%= f.text_field :location, class: "form-control" %>
  </div>
  <div class="form-group">
    <div class="checkbox">
    <%= f.label :from_home %>
    <%= f.check_box :from_home, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :salary %>
    <%= f.number_field :salary, class: "form-control" %>
  </div>
  <div class="form-group">
    <div class="checkbox">
    <%= f.label :show_salary %>
    <%= f.check_box :show_salary, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :interview_address %>
    <%= f.text_field :interview_address, class: "form-control" %>
  </div>
  <div class="form-group">
    <div class="checkbox">
    <%= f.label :ongoing %>
    <%= f.check_box :ongoing, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.submit "Submit", class: "btn btn-primary" %>
  </div>
<% end %>
</div>