<h1>Listing vacancies</h1>

<table>
  <thead>
    <tr>
      <th>Company</th>
      <th>Position</th>
      <th>Description</th>
      <th>Location</th>
      <th>From home</th>
      <th>Salary</th>
      <th>Interview address</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @vacancies.each do |vacancy| %>
      <tr>
        <td><%= vacancy.company_id %></td>
        <td><%= vacancy.position %></td>
        <td><%= vacancy.description %></td>
        <td><%= vacancy.location %></td>
        <td><%= vacancy.from_home %></td>
        <td><%= vacancy.salary %></td>
        <td><%= vacancy.show_salary %></td>
        <td><%= vacancy.interview_address %></td>
        <td><%= vacancy.ongoing %></td>
        <td><%= link_to 'Show', vacancy %></td>
        <% if @pin.user == current_user %>
          <td><%= link_to 'Edit', edit_vacancy_path(vacancy) %></td>
          <td><%= link_to 'Destroy', vacancy, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
  <div class="form-group">
    <%= link_to 'New Vacancy', new_vacancy_path, class: "btn btn-primary" %>
  </div>