<div class="panel panel-default">
  <div class="panel-heading">
    <h1>New vacancy</h1>
  </div>

<%= render 'form' %>


<div class="panel-footer">
    <%= link_to 'Back', vacancies_path %>
  </div>
</div>