<p id="notice"><%= notice %></p>

<p>
  <strong>Position:</strong>
  <%= @vacancy.position %>
</p>

<p>
  <strong>Description:</strong>
  <%= @vacancy.description %>
</p>

<p>
  <strong>Location:</strong>
  <%= @vacancy.location %>
</p>

<p>
  <strong>From home:</strong>
  <%= @vacancy.from_home %>
</p>

<p>
  <strong>Salary:</strong>
  <%= @vacancy.salary %>
</p>

<p>
  <strong>Interview address:</strong>
  <%= @vacancy.interview_address %>
</p>

<%= link_to 'Edit', edit_vacancy_path(@vacancy) %> |
<%= link_to 'Back', vacancies_path %>
