<%= form_for(@company) do |f| %>
  <% if @company.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@company.errors.count, "error") %> prohibited this company from being saved:</h2>

      <ul>
      <% @company.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :status %><br>
    <%= f.text_field :status %>
  </div>
  <div class="field">
    <%= f.label :tax_number %><br>
    <%= f.number_field :tax_number %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :password %><br>
    <%= f.text_field :password %>
  </div>
  <div class="field">
    <%= f.label :contact_person_first_name %><br>
    <%= f.text_field :contact_person_first_name %>
  </div>
  <div class="field">
    <%= f.label :contact_person_last_name %><br>
    <%= f.text_field :contact_person_last_name %>
  </div>
  <div class="field">
    <%= f.label :contact_person_mobile_number %><br>
    <%= f.text_field :contact_person_mobile_number %>
  </div>
  <div class="field">
    <%= f.label :contact_person_email %><br>
    <%= f.text_field :contact_person_email %>
  </div>
  <div class="field">
    <%= f.label :website %><br>
    <%= f.text_field :website %>
  </div>
  <div class="field">
    <%= f.label :office_phone_number %><br>
    <%= f.text_field :office_phone_number %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :mail_verified %><br>
    <%= f.check_box :mail_verified %>
  </div>
  <div class="field">
    <%= f.label :company_verified %><br>
    <%= f.check_box :company_verified %>
  </div>
  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :logo_large %><br>
    <%= f.text_field :logo_large %>
  </div>
  <div class="field">
    <%= f.label :logo_small %><br>
    <%= f.text_field :logo_small %>
  </div>
  <div class="field">
    <%= f.label :permalink %><br>
    <%= f.text_field :permalink %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
