<h1>Listing companies</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Status</th>
      <th>Tax number</th>
      <th>Email</th>
      <th>Password</th>
      <th>Contact person first name</th>
      <th>Contact person last name</th>
      <th>Contact person mobile number</th>
      <th>Contact person email</th>
      <th>Website</th>
      <th>Office phone number</th>
      <th>Description</th>
      <th>Mail verified</th>
      <th>Company verified</th>
      <th>Address</th>
      <th>Logo large</th>
      <th>Logo small</th>
      <th>Permalink</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @companies.each do |company| %>
      <tr>
        <td><%= company.name %></td>
        <td><%= company.status %></td>
        <td><%= company.tax_number %></td>
        <td><%= company.email %></td>
        <td><%= company.password %></td>
        <td><%= company.contact_person_first_name %></td>
        <td><%= company.contact_person_last_name %></td>
        <td><%= company.contact_person_mobile_number %></td>
        <td><%= company.contact_person_email %></td>
        <td><%= company.website %></td>
        <td><%= company.office_phone_number %></td>
        <td><%= company.description %></td>
        <td><%= company.mail_verified %></td>
        <td><%= company.company_verified %></td>
        <td><%= company.address %></td>
        <td><%= company.logo_large %></td>
        <td><%= company.logo_small %></td>
        <td><%= company.permalink %></td>
        <td><%= link_to 'Show', company %></td>
        <td><%= link_to 'Edit', edit_company_path(company) %></td>
        <td><%= link_to 'Destroy', company, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Company', new_company_path %>
