<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @company.name %>
</p>

<p>
  <strong>Status:</strong>
  <%= @company.status %>
</p>

<p>
  <strong>Tax number:</strong>
  <%= @company.tax_number %>
</p>

<p>
  <strong>Email:</strong>
  <%= @company.email %>
</p>

<p>
  <strong>Password:</strong>
  <%= @company.password %>
</p>

<p>
  <strong>Contact person first name:</strong>
  <%= @company.contact_person_first_name %>
</p>

<p>
  <strong>Contact person last name:</strong>
  <%= @company.contact_person_last_name %>
</p>

<p>
  <strong>Contact person mobile number:</strong>
  <%= @company.contact_person_mobile_number %>
</p>

<p>
  <strong>Contact person email:</strong>
  <%= @company.contact_person_email %>
</p>

<p>
  <strong>Website:</strong>
  <%= @company.website %>
</p>

<p>
  <strong>Office phone number:</strong>
  <%= @company.office_phone_number %>
</p>

<p>
  <strong>Description:</strong>
  <%= @company.description %>
</p>

<p>
  <strong>Mail verified:</strong>
  <%= @company.mail_verified %>
</p>

<p>
  <strong>Company verified:</strong>
  <%= @company.company_verified %>
</p>

<p>
  <strong>Address:</strong>
  <%= @company.address %>
</p>

<p>
  <strong>Logo large:</strong>
  <%= @company.logo_large %>
</p>

<p>
  <strong>Logo small:</strong>
  <%= @company.logo_small %>
</p>

<p>
  <strong>Permalink:</strong>
  <%= @company.permalink %>
</p>

<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>
